In [2]:
import numpy as np
import pandas as pd

In [3]:
titanic = pd.read_csv('training_titanic_x_y_train.csv')

In [5]:
titanic.shape

(668, 11)

In [6]:
titanic.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [8]:
titanic.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [9]:
data_copy=titanic.copy()

### GET DATA INSIGHTS

In [11]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 11 columns):
Pclass      668 non-null int64
Name        668 non-null object
Sex         668 non-null object
Age         536 non-null float64
SibSp       668 non-null int64
Parch       668 non-null int64
Ticket      668 non-null object
Fare        668 non-null float64
Cabin       154 non-null object
Embarked    667 non-null object
Survived    668 non-null int64
dtypes: float64(2), int64(4), object(5)
memory usage: 57.5+ KB

In [12]:
del data_copy['Name']

In [13]:
del data_copy['Ticket']

In [14]:
del data_copy['Fare']

In [16]:
del data_copy['Cabin']

In [27]:
data_copy.head()
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 7 columns):
Pclass      668 non-null int64
Sex         668 non-null object
Age         668 non-null float64
SibSp       668 non-null int64
Parch       668 non-null int64
Embarked    668 non-null object
Survived    668 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 36.6+ KB

In [20]:
data_copy.Age.fillna(data_copy.Age.mean(),inplace=True) # Filling Nan Values for Age

In [26]:
data_copy.Embarked.fillna(data_copy.Embarked.mode()[0],inplace=True)  # mode() returns a series that is why we take mode()[0]

In [49]:
data_copy.Embarked.nunique() # number of types

3

## METHOD 1 : Changing STRING into meaningful INT

In [51]:
data_copy.Sex[data_copy.Sex=='male']=1
data_copy.Sex[data_copy.Sex=='female']=0

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
data_copy.head()

   Pclass Sex       Age  SibSp  Parch Embarked  Survived
0       2   0  29.00000      1      0        S         1
1       3   1  29.70056      0      0        S         0
2       2   1  39.00000      0      0        S         0
3       3   0  29.00000      0      4        S         0
4       3   1  25.00000      0      0        S         0

## METHOD 2 : Changing STRING into meaningful INT

In [64]:
data_copy.Embarked.value_counts() # Get count of each value for a particular column

0    485
1    133
2     50
Name: Embarked, dtype: int64

In [58]:
dict_embarked={'S':0,'C':1,'Q':2}

In [59]:
data_copy.Embarked=[dict_embarked[item] for item in data_copy.Embarked]

In [61]:
data_copy.Embarked.value_counts()

0    485
1    133
2     50
Name: Embarked, dtype: int64

## Data Preprocessing DONE

In [67]:
data_copy.Pclass.value_counts()

3    359
1    161
2    148
Name: Pclass, dtype: int64

In [69]:
X=data_copy.values
Y=data_copy['Survived'].values

In [73]:
type(X)

numpy.ndarray

In [75]:
X.shape

(668, 7)

In [80]:
X=np.delete(X,6,axis=1)

In [82]:
X.shape

(668, 6)

In [85]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y)

In [86]:
from sklearn.linear_model import LogisticRegression
algo=LogisticRegression()
algo.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [88]:
algo.score(X_test,Y_test)

0.8263473053892215

In [119]:
from sklearn import tree
clf_Tree=tree.DecisionTreeClassifier(max_depth=9)
clf_Tree.fit(X_train,Y_train)
print(clf_Tree.score(X_train,Y_train))
print(clf_Tree.score(X_test,Y_test))

0.9141716566866267
0.7724550898203593

In [120]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(max_depth=6,random_state=0) # fixing max_depth is pre pruning
clf.fit(X_train,Y_train)
print(clf.score(X_train,Y_train))
print(clf.score(X_test,Y_test))

0.8423153692614771
0.8023952095808383